.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    border: 1px solid #555;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.header li a {
    display: block;
    color: rgb(19, 18, 18);
    padding: 8px 16px;
    text-decoration: none;
  }

.header li {
    text-align: center;
    border-bottom: 1px solid #555;
  }

.header li:last-child {
    border-bottom: none;
}

.header li a.active {
    background-color: rgb(56, 4, 99);
    color: rgb(236, 248, 244);
  }

.header li a:hover:not(.active) {
    background-color: rgb(53, 52, 52);
    color: rgb(160, 119, 255);
  }