.header {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;
}

.header li a {
    display: block;
    color: rgb(19, 18, 18);
    padding: 27px 10px;
    text-decoration: none;
    text-align: center;
  }

.header li a:hover {
    background-color: rgb(53, 52, 52);
    color: blueviolet;
  }
  
.header .active {
    background-color: rgb(56, 4, 99);
    color: rgb(236, 248, 244);
  }