.header {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    border: 3px solid rgb(56, 4, 99);
    position: fixed;
    height: auto; 
    overflow: auto;
}

.header li a {
    display: block;
    color: rgb(19, 18, 18);
    padding: 24px 16px;
    text-decoration: none;
    font-size: 20px;
  }

.header li {
    text-align: center;
    border-bottom: 1px solid rgb(19, 18, 18);
  }

.header li a.active {
    background-color: rgb(56, 4, 99);
    color: rgb(236, 248, 244);
  }

.header li a:hover:not(.active) {
    background-color: rgb(53, 52, 52);
    color: rgb(160, 119, 255);
  }