body {
  background-image: url("/NyNettside/background/img_sky.png");
  background-color: rgb(103, 6, 183);
  margin: 0;
  background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 180px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    border: 5px solid rgb(0, 0, 0);
  }
  
p {
    font-family: verdana;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

