body {
    background-color: rgb(139, 94, 241);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }