body {
  background-image: url("/NyNettside/background/img_purple.png");
  background-color: #bb3232;
}

h1 {
    color: rgb(19, 18, 18);
    text-align: center;
  }
  
p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(19, 18, 18);
    text-align: center;
  }
