body {
  background-image: url("/NyNettside/background/img_dark.png");
  background-color: rgb(103, 6, 182);
  margin: 0;
  background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 180px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    border: 5px solid black;
  }
  
p {
    font-family: verdana;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  
.grid-container1 > div {
    background-color: rgb(160, 119, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
@media only screen and (max-width: 500px) {
    .item1 { grid-area: 1 / span 3 / 2 / 4; }
    .item2 { grid-area: 3 / 3 / 4 / 4; }
    .item3 { grid-area: 2 / 1 / 3 / 2; }
    .item4 { grid-area: 2 / 2 / span 2 / 3; }
    .item5 { grid-area: 3 / 1 / 4 / 2; }
    .item6 { grid-area: 2 / 3 / 3 / 4; }
  }